{% extends 'app/base.html'%}
{% block title %}Food Cart{% endblock %}

    {% block style %}
        <link rel="stylesheet" href="/../../static/css/cart.css">
        {% load crispy_forms_tags %}
    {% endblock %}

{% block body %}

            <section style="background-image: url(/../../static/images/bgloginblack.jpg);background-attachment: fixed;background-position: center;background-size: cover;">
                <div class="container">
                    <div class="rowpad row">
                        <div class="col-md-8 mx-auto">
                            <div class="cart-container">
                                <div class="row justify-content-center first">
                                    <div class="col-md-12 col-xs-12 col-sm-12">
                                        <div class="heading text--center">
                                            <h1 style="font-family: 'Kaushan Script', cursive;">Food Cart</h1>
                                        </div>
                                        <div class="col-xs-12 col-sm-12">
                                        {% if records %}
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Name</th>
                                                        <th>Calories</th>
                                                        <th>Quantity</th>
                                                        <th>Price</th>
                                                    </tr>
                                                </thead>

                                                {% for x in records %}
                                                    <tr>
                                                        <td><img src="{{x.order_item_logo.url}}" width="50px" height="50px" /></td>
                                                        <td>{{ x.order_item_name }}</td>
                                                        <td>{{ x.order_item_calories }}</td>
                                                        <td>{{ x.order_item_quantity }}</td>
                                                        <td>{{ x.order_item_price }}</td>
                                                        <td></td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                            <table class="table table-hover text--center">
                                                    <tr>
                                                        <td>Total Calories :</td>
                                                        <td><strong>{{get_total_calories}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Total Amount :</td>
                                                        <td><strong>{{get_total_amount}}</strong></td>
                                                    </tr>
                                                    <br /><br />
                                            </table>
                                            <br /><br />
                                            <div class="btncont justify-content-center">
                                                <button id="checkoutbtn" class="btn btn-danger" type="submit">Checkout <i style="color:white;"  class="fa fa-shopping-cart fontstyle" ></i></button>
                                            </div>
                                        {% else %}
                                            <br /><br />
                                            <div class="container text--center">
                                                <img src="/../../static/images/empty_state.png" height="auto" width="auto" />
                                            </div>
                                            <br /><br />
                                        {% endif %}
                                            
                                        </div>
                                    </div>
                                </div>
                                <div id="orderplaced" class="container text--center">
                                    <div class="heading text--center">
                                            <h1 style="font-family: 'Kaushan Script', cursive;">Coming Soon ! </h1>
                                    </div>
                                    <br /><br /><br />
                                    <img src="/../../static/images/orderplaced.png" height="auto" width="auto"/>
                                </div>
                                <script>
                                    $(document).ready(function () {
                                        $("#orderplaced").hide();

                                        $("#checkoutbtn").click(function () {
                                            $("#orderplaced").show("fast");
                                            $(".first").hide("fast");
                                        });

                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

{% endblock %}