{% extends 'app/base.html'%}
{% block title %}Login{% endblock %}

    {% block style %}
        <link rel="stylesheet" href="/../../static/css/login.css">
        {% load crispy_forms_tags %}
    {% endblock %}

{% block body %}

            <section style="background-image: url(/../../static/images/bgloginblack.jpg);background-attachment: fixed;background-position: center;background-size: cover;">
                <div class="container">
                    <div class="rowpad row">
                        <div class="col-md-8 mx-auto">
                            {% if messages %}
                                {% for message in messages %}
                                    {% if message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            <strong>{{message}}</strong>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    {% endif %}
                                    {% if message.tags == "error" %}
                                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                <strong>{{message}}</strong>
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <div class="firstform">
                                <div class="form-container">
                                    <div class="heading text--center">
                                        <h1 style="font-family: 'Kaushan Script', cursive;">Login</h1>
                                    </div>
                                    <form name="login" action="/userprofile/" method="post" novalidate="novalidate">
                                        {% csrf_token %}
                                        <div class="row justify-content-center">
                                            <div class="col-md-8">
                                                {% crispy form %}
                                                <div class="text--center">
                                                    <button type="submit" class="btn btn-block btn-primary">Submit</button>
                                                    <hr style="color:black" />
                                                    <br />
                                                    <div class="form-group">
                                                        <p>Don't have account? <a href="{% url 'signup' %}" id="signup">Sign up here</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </section>
{% endblock %}
